<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{#insert title}Default Title{/}</title>
  <link rel="stylesheet" href="/static/admin/styles/common/global.css" type="text/css">
  {#insert headEnd}{/}
</head>
<body>
<header>
  <div class="header-menu">
    <div class="header-menu-item">
      <img src="/static/admin/images/quarkus-logo.png" class="logo" alt="quarkus logo"/>
    </div>
    <div class="header-menu-item">
      <a href="/admin">TOP</a>
    </div>
  </div>

</header>
<article>
  {#insert}No body!{/}
</article>
<footer>
  <p>Copyright &copy;2024 <a href="https://github.com/treetips" target="_blank" rel="noreferrer">treetips</a>
    All Rights Reserved.</p>
</footer>

{#insert bodyEnd}{/}
</body>
</html>
